/* 
CSS ফাইল লেখার সময় মানগুলোর চারপাশে Double Quote ("") দেওয়া যায় না।
Quotes শুধুমাত্র JavaScript বা HTML Attribute-এর জন্য প্রযোজ্য।
 */

.change-css-style{
    color : orange;
    font-size : 2rem;
    font-weight : bold;
    font-style : italic;
}

.mouse-over-out{
    color : tomato;
    font-size: 2rem;
    font-weight: bold;
}

.button-animation{
    background-color: tomato;
    box-shadow: 0 0 5px 5px tomato;
    border-color: tomato;
    opacity: 0.8;
}

.signup{
    margin-bottom: 1rem;
}